span {
  padding: 0.375rem 1rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  font-size: 1rem;
  /* color: #495057; */
  color: #390969;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.8;
}
input:focus + span,
input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-80%) translateX(-18px);
  background-color: white;
  /* color: #495057; */
  color: #390969;

  padding: 0.175rem 0.5rem;
}
textarea:focus + span,
textarea:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.8) translateY(-80%) translateX(-1px);
  background-color: white;
  /* color: #495057; */
  color: #390969;
  padding: 0.175rem 0.5rem;
}


.form__main {
  padding: 0 !important;
}
.form-group {
  width: 100%;
}
.form__y1 {
  margin-top: 142px;
}
.form__y2 {
  margin-top: 20px;
}
.form__y3 {
  margin-top: 40px;
}
.form__y4 {
  margin-top: 20px;
}
.form__y5 {
  margin-top: 20px;
}
.form__y6 {
  margin-top: 20px;
}
.form__y7 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 40px;
}
.Form_submit {
  width: 216px;
  height: 36px;
  color: white;
  background: #390969;
  border: 1px solid #e2ecf5;
  box-sizing: border-box;
  border-radius: 7px;
}

.form__h1 {
    font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;

  color: #390969;
}

.form__c1 {
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  line-height: 24px;

  color: #000000;
}

.form__h2 {
  
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;

  color: #390969;
}

.form__c2 {
  
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  /* font-size: 1rem;
    line-height: 1.5; */
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #390969;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cadeef;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__x1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #390969;
}

.form-control::-webkit-input-placeholder {
  color: #390969;
}
.form-control:-moz-placeholder {
  color: #390969;
}
.form-control::-moz-placeholder {
  color: #390969;
}
.form-control::placeholder {
  color: #390969;
}
.form-control:-ms-input-placeholder {
  color: #bec6cc;
}

::placeholder {
  color: #390969;
}
.Form_input {
  /* width: 190px;
    height: 38px; */
  border: 1px solid #cadeef;
  box-sizing: border-box;
  border-radius: 7px;
}

.textarea {
  resize: none;
}

@media (max-width: 500px) {
  .Forms_pic {
    display: none;
  }
  .Forms_title {
    margin-top: 100px;
  }
  .form-control {
    margin-bottom: 15px;
  }
  .custom-select {
    margin-bottom: 10px;
  }
  .Form__select {
    margin-left: 0;
    font-size: 13px;
  }
  .Form__span {
    font-size: 13px;
  }
}
.form__main {
  margin-left: 100px;
  margin-right: 100px;
}

/* mobile */
@media screen and (max-width: 480px) {
  .form__main {
    margin-left: 35px;
    margin-right: 35px;
  }
  .form__y7 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
}
